body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  padding:24px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.countries-wrapper {
  padding: 24px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
}

.country {
  width: 300px;
  height: 400px;
  border: 1px solid #575353;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.country-img img{
    width: 100%;
    outline: hidden;
    height: 200px;
} 
.country-inforetion{
  width: 100%;
  padding: 12px 8px;
}
.country_name{
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  color: rgb(247, 144, 11);
}

.country-content {
  padding: 12px 24px;
  font-weight: 600;
}
